header{
    width: 100%;
    height: 60px;
    background-color: #9B3BD2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    z-index: 1;
    font-family: "Inter", sans-serif;
}

#header-links {
    margin-left: 100px;
    display: flex;
    gap: 40px;
    transition: 0.5s;
}

#header-links.ativo {
    margin-left: 250px;
}

#header-links a {
    color: #fff;
    text-decoration: none;
}

#header-links a::before {
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: 15px;
    visibility: hidden;
    background-color: white;
    transition: all 300ms ease-in-out;
}

#header-links a:hover::before {
    visibility: visible;
    width: 50px;
    transition: 300ms all ease-in-out;
}

#header-logo {
    padding-right: 100px;
    width: 40px;
    height: 40px;
}