@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&display=swap');

:root {
    --cor-primaria: #9B3BD2;
    --cor-secundaria: #D390FF;
    --barra-clara: #9A30EB;
    --barra-escura: #070209;
}

    
    
    html {
        overflow-x: hidden;
    }
    
    .slick-center {
      transform: scale(1.05) !important;
      z-index: 2 !important;
    }
    
    .slick-slide:not(.slick-center) {
      transform: scale(0.9) translateY(10px) !important;
      
    }

    @media screen and (min-width:1025px ) {
        .slick-list {
     
      margin: 0 -10px !important;
      overflow: visible !important;
    }
    }

  
    
   