.cursos-espacamento {
    width: 100%;
    padding: 30px 60px;
    box-sizing: border-box;
    justify-self: center;

    display: flex;
    flex-direction: column;
}

.cursos-alinhar-tamplates {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
}