#ring{
    height: 140px;
    width: 50px;
    border-top:4px solid #d4d4d4;
    border-right:4px solid #d4d4d4;
    border-bottom:4px solid #d4d4d4;
    border-left: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top:47%;
    left: 50%;
    transform: translate(-50%,-50%) rotateZ(45deg);
}