/* Footer */

footer {
    width: calc(100vw - 60px);
    height: 60px;
    position: absolute;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    font-family: "Inter", sans-serif;
    position: relative;
    bottom: 0;
    left: 60px;
}

#footer-conteudo {
    width: calc(100vw - 60px);
    display: flex;
    justify-content: space-around;
    margin: 100px;

    transition: 0.5s;
}

#footer-conteudo.ativo {
    width: calc(100% - 350px);
    margin-left: 250px;
    transition: 0.5s
}