/* Conteiner das avaliações */
.container-avaliacoes {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.container-nav-estrelas {
    display: flex;
    justify-content: space-between;
}

.nav-estrelas-demo {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-estrelas-demo div {
    padding: 10px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--branco);
    gap: 12px;
    cursor: poArchivo black;
    
    font-family: "Archivo black", sans-serif;
}

.nav-estrelas-demo div p {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}

.nav-estrelas-demo div img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.button-filtros {
    padding: 10px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--branco);
    gap: 12px;
    position: relative;
    cursor: poArchivo black;
    
    font-family: "Archivo black", sans-serif;
}

.button-filtros p {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}

.button-filtros img {
    width: 30px;
    height: 30px;
}

/* Filtros: extra */
.button-filtros-div-extra {
    position: absolute;
    right: 0;
    bottom: calc(100% + 15px);
    background-color: var(--branco);
    cursor: auto;
    overflow: hidden;

    padding: 0;
    width: 0;
    height: 0;
}

/* Navegação do conteiner das avaliações */

.container-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    gap: 70px;
}

/* Intodução das avaliações */



/* Conteiner das avaliações */
.container-avaliações {
    width: calc(100% - (130px * 2));
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 200px;
    padding: 0 130px;
}
/* Conteiner das avaliações */



/* Navegação do conteiner das avaliações */
.container-nav-estrelas {
    display: flex;
    justify-content: space-between;
}

.filtros-extra-titulo {
    margin-top: -10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.filtros-extra-titulo h2 {
    font-size: 30px;
    font-weight: 700;
    
    font-family: "Archivo black", sans-serif;
}

.filtros-extra-titulo img {
    width: 50px;
    height: 50px;
    cursor: poArchivo black;
}

.filtros-extra-input {
    text-align: start;
    background-color: var(--cinza-claro2);
    border: none;
    padding: 10px 20px;
    width: calc(100% - (20px * 2));
    color: var(--cinza-escuro3);
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: poArchivo black;
}

.filtros-extra-aplicar {
    text-align: center;
    background-color: #A751D9;
    border: none;
    padding: 10px 20px;
    width: calc(100% - (20px * 2));
    color: var(--branco);
    font-size: 23px;
    font-weight: 600;
    cursor: poArchivo black;
}

.filtros-extra-aplicar:hover {
    background-color: #000000;
}

.container-nav-comentarios {
    margin: 25px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    transition: all 1s;
    gap: 25px;
}

.nav-comentarios {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: start;
    flex-direction: column;
    gap: 25px;
}

/* Comentario */
.comentario {
    padding: 20px;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
}

.comentario-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* Comentario: usuario */
.comentario-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.comentario-usuario-icon {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(../../../assets/icones-usuarios/kurbie.jpg);
    background-size: cover;
    background-position: center;
}

.comentario-usuario-titulo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.comentario-usuario-titulo h3 {
    font-size: 20px;
    font-weight: 800;
    text-align: start;
    
    font-family: "Archivo Black", sans-serif;
}

.comentario-usuario-titulo h4 {
    font-size: 16px;
    font-weight: 500;
    
    font-family: "Questrial", sans-serif;
}

.comentario-avaliacao {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.comentario-avaliacao img {
    width: 20px;
    height: 20px;
}

.comentario-conteudo {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    
    font-family: "Questrial", sans-serif;
}

.button-mais-comentarios {
    width: 100%;
    height: 60px;
    background-color: var(--roxo1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: poArchivo black;
}

.button-mais-comentarios svg {
    height: 80px;
    width: 80px;
}

.button-mais-comentarios:hover {
    background-color: var(--branco);

    & svg {
        fill: var(--roxo1);
    }

}
/* Conteiner das avaliações: comentarios */