#ssp-container {
    width: 90%;
}

.video-planos-background {
    background-image: url(../../../assets/background-padrao2.jpg!d);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    filter: blur(4px);

    z-index: 10;
}