#ssp-container {
    width: 90%;
}

.video-planos-background {
    background-image: url(../../../assets/background-padrao2.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}

/* Área de planos */

/* Vídeo */
.video-planos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-planos div {
    width: 100%;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-planos div div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);

    z-index: 10;
}

.video-planos div img {
    width: 100px;
    height: 100px;

    z-index: 15;
}

/* Planos */
.container-planos-pagIni {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 60px;
    margin-bottom: 60px;
}

.plano {
    width: 100%;
    display: flex;
    text-align: justify;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    background-color: #0e0e0e;
    border-radius: 30px;
    overflow: hidden;
}

.plano img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.plano h2 {
    margin: 0 30px;
    color: #ffffff;
    opacity: 0.37;
    font-size: 40px;
    
    font-family: "Inter", sans-serif;
}

.plano p {
    margin: 0 30px;
    color: #ffffff;
    font-size: 20px;
    
    font-family: "Inter", sans-serif;
}

.plano h3 {
    margin: 15px 30px -15px 30px;
    color: #ffffff;
    opacity: 0.37;
    font-size: 17px;
    
    font-family: "Inter", sans-serif;
}

.plano-button {
    width: calc(100% - (30px * 2));
    margin: 0 30px;
    color: #ffffff;
    background-color: #585858;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    
    font-family: "Inter", sans-serif;
}

.plano-nav-beneficios {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.nav-beneficio {
    margin-top: -20px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.nav-beneficio img {
    width: 30px;
    height: 30px;
}

/* Plano: universo */
.plano {
    background-color: #A751D9;
}

.plano h2 {
    opacity: 1;
}

.plano h3 {
    opacity: 0.5;
}

.plano .plano-button {
    background-color: #ffffff;
    color: #A751D9;
}

.planos-mini-texto {
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 60px 0;
    text-align: center;
}
/* Área de planos */