/* Formatação */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: text;
}

html {
    display: flex;
}

:root {
    --cor-primaria: #9B3BD2;
    --cor-secundaria: #D390FF;
    --barra-clara: #9A30EB;
    --barra-escura: #070209;
}

body {
    background-color: #070209;
}

/* Formatação */

body::-webkit-scrollbar {
    width: 25px;
}

body::-webkit-scrollbar-track {
    background: var(--barra-escura);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--barra-clara);
    border-radius: 20px;
    border: 5px solid var(--barra-escura);
}


body {
    background-color: #141414;
}


#container {
  width: 1500px;
  position: relative;
  left: calc(((100vw) - (1500px))/2);
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdr-descricao {
    color: #fff;
    margin: 40px 0;
    font-family: "Archivo Black", sans-serif;
    font-size: 28px;
}

.pdr-descricao-destaque {
    color: var(--barra-clara);
    font-size: 36px;
}

@media screen and (max-width: 425px){
    #container {
        width: 100%;
    }
}